<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <style>
    .navbar-item:hover,
    .navbar-link:hover,
    #signUpButton:hover,
    #logInButton:hover,
    .button {
      text-decoration: none !important;
    }

    .userbtn{
      font-size: larger;
    }
  </style>
  <div class="navbar-brand">
    <a class="navbar-item" href=".\">
      Bookguessr
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href=".\play">
        Play
      </a>

      <a class="navbar-item" href=".\about">
        About
      </a>
      
      <a class="navbar-item" href=".\leaderboard">
        Leaderboard
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link userbtn">
          <%= username %>: <%= points %> points
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href=".\logout">
            Logout
          </a>
        </div>
      </div>
  </div>
</nav>  