<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <style>
      .navbar-item:hover,
      .navbar-link:hover,
      #signUpButton:hover,
      #logInButton:hover,
      .button {
        text-decoration: none !important;
      }
    </style>
    <div class="navbar-brand">
      <a class="navbar-item" href=".\">
        Bookguessr
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href=".\play">
          Play
        </a>

        <a class="navbar-item" href=".\about">
          About
        </a>
        
        <a class="navbar-item" href=".\leaderboard">
          Leaderboard
        </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href=".\signup">
            Sign up
          </a>
          <a class="button is-light" href=".\login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </nav>  